<%= form_for @entry, {class: 'form-horizontal'} do |f| %>
	<div class="control-group">
		<%= f.label :date, {class: 'control-label'} %>
		<div class="controls"><%= f.date_select :date %></div>
	</div>
	<div class="control-group">
		<%= f.label '# Cigarettes Smoked', {class: 'control-label'}%>
		<div class="controls"><%= f.text_field :quantity %></div>
	</div>
	<div class="control-group">
		<%= f.label 'Hours Slept (Previous Night)', {class: 'control-label'} %>
		<div class="controls"><%= f.text_field :hrs_slept %></div>
	</div>
	<div class="control-group">
		<%= f.label 'Temperature (Based on your zipcode only upon creation)', {class: 'control-label'} %>
		<div class="controls"><%= f.text_field :temp %></div>
	</div>
	<div class="control-group">
		<%= f.submit %>
	</div><br />
	<br />
	<br />
	<%= button_to :Back %>
<% end %>